<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>Pieter Germishuys, Developer</title>

	<meta name="description" content="Random musings about software development">
	<meta name="author" content="Pieter Germishuys">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="~/Content/themes/default/site.min.css" rel="stylesheet" />
	<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<header id="header">

		<!-- Navigation
		================================================== -->
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="index.html">
						<b>Pieter</b>Germishuys
					</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="index.html">Home</a></li>
							<li class="active"><a href="plans.html">Blog</a></li>
							<li><a href="work.html">Projects</a></li>
							<li><a href="about.html">About me</a></li>
						</ul>

					</div>
					<!--/.nav-collapse -->
				</div>
				<!-- end .container -->
			</div>
			<!-- end .navbar-inner -->
		</div>
		<!-- end .navbar -->
	</header>
	@RenderBody()
	<footer>
		<div class="container">
			<div class="row">
				<div class="span4">
					<h3>PieterGermishuys</h3>
					<ul>
						<li><a href="#" title="">Home</a></li>
						<li><a href="#" title="">About me</a></li>
						<li><a href="#" title="">Projects</a></li>
						<li><a href="#" title="">Blog</a></li>
					</ul>
				</div>
				<div class="span4 social-networks">
					<h3>Stay in touch</h3>
					<p>Stay in touch on social networks</p>
					<a href="http://www.twitter.com/pgermishuys" title="Follow me on Twitter" class="icon-twitter"></a>
				</div>
			</div>
			<!-- end .row -->
		</div>
		<!-- end .container -->

		<div id="footer-extra">
			<div class="container">
				<div class="row">
					<div class="span4">
						&copy; 2010—2012 Your company
					</div>
					<div class="span4">
						<i class="icon-phone"></i>&nbsp; 
						00123 320 000 123 456
					</div>
					<div class="span4">
						<i class="icon-envelope"></i>&nbsp; 
						hello@yourcomapny.com
					</div>
				</div>
				<!-- end .row -->
			</div>
			<!-- end .container -->
		</div>

	</footer>
	<script src="~/Scripts/jquery.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/angular.min.js"></script>
</body>
</html>
